* {
    margin: 0;
    padding: 0;
    outline: none
}
html {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    font-family: 微软雅黑;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;
}
@media screen and (max-width:767px) {
    body {
        background-position: -99999px -99999px;
    }
    body:before {
    	content: ""; 
    	background-image: inherit; 
    	position: fixed; 
        background-position: center;
        background-repeat: no-repeat;
    	top: 0; 
    	left: 0; 
    	height: 100vh; 
    	width: 100%; 
    	-webkit-background-size: cover !important; 
    	-moz-background-size: cover !important; 
    	-o-background-size: cover; 
    	background-size: cover !important;
    	z-index: -1;
    }
}
.container {
    /*background: #ddd;*/
    position: fixed;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 70%;
}
h1 {
    font-weight: 400;
    color: white/*#aaa*/;
    font-size: 3.0rem;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 0 6px black;
}
.input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    /*box-shadow: 0 0 15px rgba(170,170,170,0.17);*/
    /*box-shadow: rgba(0,0,0,.2) 0 0 10px;*/
    box-shadow: 0 0 6px black;
    overflow: hidden;
}
/* button */
.btn-group {
    display: none;
    list-style: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn-group li {
    display: inline-block;
    margin: 0 13px;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    border-radius: 6px;
    background-color: #eee;
}
.btn-group li:hover {
    cursor: pointer;
}
.btn-group .this {
    background-color: #ddd;
}
/* 设置时显示 */
.set .btn-group {
    display: block;
}
.set .input img {
    transform: rotate(90deg);
}
/* input */
.input img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    transition: 1s;
    cursor: pointer;
}
.input input {
    position: absolute;
    border: none;
    left: 60px;
    top: 0;
    line-height: 60px;
    height: 60px;
    width: calc(100% - 60px);
    color: #666;
    font-size: 20px;
}
.footer {
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 15px;
    font-size: 12px;
}
.footer a {
    text-decoration: none;
    transition: color 0.2s ease 0s;
}
.footer a:hover {
    transition: color 0.2s ease 0s;
}
.black_overlay { 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index: 1001; 
    -moz-opacity: 0.8; 
    opacity: .80; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    width: 200px; 
    height: 200px; 
    top: 50%;
    margin-top: -125px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px; 
    border: 10px solid orange; 
    background-color: white; 
    z-index: 1002; 
    overflow: auto; 
} 
.white_content a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease 0s;
}
.white_content a:hover {
    color: gray;
    transition: color 0.2s ease 0s;
}
.white_content button, .white_content button:hover {
    position: absolute;
    color: #000;
    background: orange;
    right: 10px;
    bottom: 10px;
    transition: 0.2s ease 0s;
}
.white_content button:hover {
    background: #e59400;
    transition: 0.2s ease 0s;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        left: 5%;
    }
    .input {
        width: 100%;
        height: 50px;
    }
    .input img {
        width: 30px;
        height: 30px;
    }
    .input input {
        height: 50px;
        left: 50px;
        width: calc(100% - 50px);
    }
    .btn-group:after {
        content: '\20';
        clear: both;
        display: block;
        height: 0;
    }
    .btn-group li {
        float: left;
        margin: 0;
        width: 23%;
        margin-right: 2.6666666%;
        height: 26px;
        line-height: 26px;
        font-size: 13px;
        border-radius: 3px;
    }
    .btn-group li:last-child {
        margin-right: 0;
    }
}
