body {
    /*background: #f4f4f4;*/
    background-image: url(https://cdn.jsdelivr.net/gh/CYYHH3/CSearch@main/img/win10-2.png);
    /*background-image: url(../img/win10-2.png);*/
}
.footer {
    color: white/*#a0a0a0*/;
    text-shadow: 0px 0px 3px #000000/*black*/;
}
.footer a {
    color: orange/*#666*/;
}
.footer a:hover {
    color: white;
}
